@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

/* Header Section */

.header-links {
    text-decoration: none;
    color: white;
    font-size: 26px;
}

.header, .hero, .footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(196,0,0,1) 35%, rgba(54,128,204,1) 100%);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 48px 200px;
}

.header-links-wrap {
    display: flex;
    gap: 32px;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 200px;
    padding-top: 0px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.hero-strong-text, .hero-sub-text, .button, .hero-image {
    margin: 10px 0px;
}

.hero-strong-text {
    width: 35vw;
    color: white;
    font-weight: 1000;
    font-size: 55px;
}

.hero-sub-text {
    width: 30vw;
    color:lightgray;
    font-size: 21px;
}

.hero-image {
    display: flex;
    width: 35vw;
    border-radius: 25px;
}

.button {
    background-color: rgb(49, 35, 255);
    border-radius: 8px;
    padding: 9px 18px;
    border: none
}

.button-text {
    color: white;
    font-weight: 600;
    font-size: 21px;
    text-decoration: none;
}

/* Random information section */

.random-header {
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px
}

.random-information-cards {
    display: flex;
    justify-content: space-around;
    margin: 24px;
}

.random-text{
    width: 300px;
    text-align: center;
}

.random-image {
    border-radius: 15px;
}

/* Quote section */

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 48px 600px;
}

.testimonial-text {
    font-style: italic;
    font-weight: 200;
    font-size: 30px;
}

.testimonial-text-lower {
    align-self: flex-end;
}

/* CTA section */

.cta-box {
    background-color: rgb(49, 35, 255);
    margin: 48px 200px;
    padding: 20px 100px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text-wrap {
    display: flex;
    flex-direction: column;
}

.cta-text-up {
    font-weight: 700;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 0;
}

.cta-text-down {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 22px;
    padding: 8px 0;
}

.cta-text {
    color: white;
}
.cta-button {
    background-color: rgb(49, 35, 255);
    border-radius: 8px;
    padding: 9px 18px;
    border:1px solid #ffffff;
}

/* Footer section */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: white;
    padding: 8px;
}